<!-- <button type="button" class="btn btn-primary" (click)="toastEr()">open toast</button> -->


<form  [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="mb-3">
        <label for="exampleFormControlold" class="form-label">Old Password</label>
        <input type="text" class="form-control" id="exampleFormControlold" placeholder="" formControlName="old_password">
      </div>
      <div *ngIf="submitted && f['old_password'].errors">
        <span style="color: red;" *ngIf="f['old_password'].errors['required'] ">Please enter Old Password</span>
    </div>

      <div class="mb-3">
        <label for="exampleFormControlProject" class="form-label">New Password</label>
        <input type="text" formControlName="new_password" class="form-control" id="exampleFormControlProject" placeholder="">
      </div>
      <div *ngIf="submitted && f['new_password'].errors">
        <span style="color: red;" *ngIf="f['new_password'].errors['required'] ">Please enter New Password</span>
    </div>

      <div class="mb-3">
        <label for="exampleFormControlAddress" class="form-label">Confirm Password</label>
        <input type="text" class="form-control" id="exampleFormControlAddress" placeholder="" formControlName="confirmPassword">
      </div>
      <div *ngIf="submitted && f['confirmPassword'].errors">
        <span style="color: red;" *ngIf="f['confirmPassword'].errors['required'] ">Please enter confirm Password</span>
    </div>

<div class="modal-footer"> 
<div class="d-grid">
    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
        Save</button>
  </div> 
</div>

</form>
